<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <h1> My skills </h1>
  <div class="tech">
    <h2>Software Development</h2>
    <i class="devicon-java-plain-wordmark"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <p>I frequently program in Java and Python, and 
    I also have experience using SQL for database management.  </p>
  </div>
  <div class="tech">
    <h2>Network Security</h2>
    <i class="devicon-amazonwebservices-original"></i>
    <p>I have a CompTIA Security+ certification and hav worked on security 
      projects. I also have experience with penetration testing. 
    </p>
  </div>
  <div class="tech">
    <h2>Electronics</h2>
    <img src="https://icongr.am/simple/arduino.svg?size=84">

    <p>I have done various small projects involving circuit design, Arduino, and
    actually building a designed project.
    </p>
  </div>
</div>