<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Software Development</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>Knowledgable in Java, SQL, and Python. Familiar with HTML 5 and Javascript. </p>
  </div>
  <div class="tech">
    <h2>Network Security</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>Has a CompTIA Security+ certification and has worked on security 
      projects.
    </p>
  </div>
  <div class="tech">
    <h2>Electronics</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>Has experience with circuit design, Arduino, and 
      wiring/soldering.
    </p>
  </div>
</div>